/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset */
body {
	background: #92bddf;
}

header {
	display: flex;
}

header .logo {
	display: flex;
	justify-content: center;
	width: 10%;
}

header .logo img {
	width: 100%;
	height: auto;
}

header .nav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .nav nav {
	width: 100%;
	background-color: #ff6314;
	margin-right: 5%;
	padding: 2%;
	display: flex;
	justify-content: space-evenly;
	border-radius: 10px;
}

header .nav nav a {
	text-decoration: none;
	color: white;
}

section .title {
	text-align: center;
	font-size: 2.5rem;
	text-decoration: solid;
	color: white;
	padding: 1rem;
}

section .bios-container {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

section .bios-container .bio {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	padding: 2% 0;
	width: 35%;
}
section .bios-container .bio img {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

section .bios-container .bio p {
	width: 50%;
	text-align: center;
}

section .bios-container .bio p, img, h3, h4 {
	padding: 1%;
	font-size: 1.25rem;
}

#review-section #review-container {
	display: flex;
	flex-flow: wrap;
	flex-direction: column;
}

#review-section #review-container #top-reviews, #bottom-reviews {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

#review-section #review-container img {
	width: 3rem;
	height: 3rem;
}

#review-section #review-container .review {
	margin: 5%;
	padding: 2%;
	background: white;
	border-radius: 15px;
	width: 18%;
}

@media (max-width: 500px) {
	.bios-container {
		flex-direction: column;
		align-items: center;
	}
	.bios-container p {
		display: inline-block;
		width: 500%;
	}
}